* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chess {
  display: inline-block;
  border: 5px solid black;
  /* background-color: black; */
}

.chess .row:nth-child(even) .box:nth-child(odd) {
  background-color: black;
}

.chess .row:nth-child(odd) .box:nth-child(even) {
  background-color: black;
}
