.search{
    position: absolute;
    background-color: white;
    /* border: 2px solid black; */

    top:8px;
    left:400px;
    z-index: 1;
}

#search-results > *{
    margin: 5px auto;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

#search-results a{
    text-decoration: none;
}
.border{
    border: 1px solid black;
}