* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.outer {
  height: min(70vh, 70vw);
  /* width: min(70vh, 70vw); */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  margin: auto;
  transform: translate(0%, 20%);
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 2px;
}

.box {
  background-color: #1F1E2D;
  margin: 1px;
  padding: 1px;
}

.box:hover {
  opacity: 0.9;
}

.boxclicked {
  background-color: #535179;
}