* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.outer {
  height: min(70vh, 70vw);
  width: min(70vh, 70vw);
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 1px;
  margin: auto;
  transform: translate(0%, 20%);
}

.box {
  background-color: brown;
}
.box:hover {
  opacity: 0.9;
}

.boxclicked {
  background-color: beige;
}
