* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./wallpaper1-16-9.jpg);
  background-size: cover;
  font-family: serif !important;
  transition: all 0.5s;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

#grid {
  width: 90%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.back {
  background-color: #17075b;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipped {
  transform: rotateY(180deg);
}

.popup {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: none;
}

.popup > div {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  h2 {
    font-size: 1rem !important;
  }
}

#reload {
  border: 0;
  background-color: #17075b;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  color: #fff;
  vertical-align: middle;
  font-size: 1.2rem !important;
  margin: 10px 0;
}

#reload:active,
#reload:focus {
  outline: none;
}

/* .outer {
  height: min(70vh, 70vw);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: auto 50px;
  transform: translate(0%, 20%);
} */
