* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer {
  height: min(70vh, 70vw);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: auto 50px;
  transform: translate(0%, 20%);
}

