.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App *{
  margin: 10px;
}

.btns {
  margin: 20px;
}

.btn{
  padding: 20px;
  margin: 10px
}